U2/XSD/t3blogcocina.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="referencia" type="xs:string"/>
    <xs:element name="titulo"/>
    <xs:element name="fecha"/>
    <xs:element name="publicado"/>
    <xs:element name="clasificacion"/>
    <xs:attribute name="clasificacion"/>

    <xs:element name="articulo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="referencia" />
                <xs:element ref="referencia" />
                <xs:element ref="fecha" />
                <xs:element ref="publicado" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>