U2/XSD/t3VFP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="t1">
        <xs:complexType mixed="true">
            <xs:attribute name="codigo" type="xs:string" />
            <xs:attribute name="texto" type="xs:string" />
        </xs:complexType>
    </xs:element>

    <xs:element name="VFPData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="t1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>